@()
@main("API") {
<h1>Why won't swagger load :(</h1>
<a href="http://localhost:63342/play-scala-seed/target/web/public/main/lib/swagger-ui/index.html?_ijt=cfhqglp34fgcmopll4pitp7vmu&_ij_reload=RELOAD_ON_SAVE">
    <h2>View swagger documentation</h2>
</a>
<div id="#swagger-ui"></div>
<script src="swagger-ui-bundle.js"></script>
<script src="swagger-ui.js"></script>
<script src="swagger-ui-es-bundle.js"></script>
<script src="swagger-ui-standalone-preset.js"></script>
<script src="swagger-initializer.js"></script>
}
